################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/v2rayN/.vs/v2rayN/v15/Server/sqlite3
