################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/v2rayN/.vs/v2rayN/v15/Server/sqlite3
/v2rayN/v2RayNPF/bin
/v2rayN/v2RayNPF/obj
/v2rayN/v2RayN/bin
/v2rayN/v2RayN/obj
